﻿@{
    ViewBag.Title = "_LayoutAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("navigation");
<div class="container-fluid">
    <main role="main" class="col-sm-12">
        <h1>Dashboard</h1>

        @RenderBody()
    </main>
</div>