﻿<div class="collapse position-fixed z-index-100" id="nav-item">
    <nav class="navbar-light bg-light sidebar">
        <div class="list-group">
            <span href="#" class="list-group-item active">
                Submenu
                <span class="pull-right" id="slide-submenu" data-toggle="collapse" data-target="#nav-item" aria-controls="nav-item" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-times"></i>
                </span>
            </span>
            <a href="#" class="list-group-item">
                <i class="fa fa-comment-o"></i> Lorem ipsum
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-search"></i> Lorem ipsum
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-user"></i> Lorem ipsum
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-folder-open-o"></i> Lorem ipsum <span class="badge">14</span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-bar-chart-o"></i> Lorem ipsumr <span class="badge">14</span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-envelope"></i> Lorem ipsum
            </a>
        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#nav-item" aria-controls="nav-item" aria-expanded="false" aria-label="Toggle navigation">
    </span>

    <div class="collapse navbar-collapse navbar-expand-lg navbar-expand-md" id="navbarsExample08">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Centered nav only <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>