﻿.z-index-100 {
    z-index: 10;
}

.list-group {
    width: 240px;
}

/*@media screen and (min-width: 300px) and (max-width: 599px) {
    .login {
        width: 100%;
        margin: 0px;
    }

    .btn-sm-bottom {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 600px) and (min-width: 890px) {
    .login {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }

    .btn-sm-bottom {
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 990px) {
    .login {
        width: 35%;
        margin-left: 34.5%;
        margin-right: 34.5%;
        margin-top: 10%;
    }
}*/

@media screen and (min-width: 300px) and (max-width: 576px) {
    .login {
        width: 100%;
        margin: 0px;
    }   
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .login {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }    
}

@media screen and (min-width: 769px) and (max-width: 1800px) {
    .login {    
        width: 35%;
        margin-left: 32.5%;
        margin-right: 32.5%;
        margin-top: 10%;
    }    
}

.btn-sm-bottom {
        margin-bottom: 5px;
    }

