﻿<div class="card login">
    <div class="card-header text-left">
        <h5>Login</h5>
    </div>
    <div class="card-block">
        <br />
        <div class="container">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help">
                                <i class="fa fa-user"></i>
                            </button>
                        </div>
                        <input type="text" [(ngModel)]="login.username" class="form-control" id="inputEmail3" placeholder="Username" name="username">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" aria-label="Help">
                                <i class="fa fa-key"></i>
                            </button>
                        </div>
                        <input type="password" [(ngModel)]="login.password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="submit" id="btnSignin" class="btn btn-primary col-sm-12 col-lg-3 btn-sm-bottom" (click)="onLoginClick()">Sign in</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
